/*------------------------------------------
!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!
-------------------CSS HELP-----------------
1.GENERAL SECTION
2.HEADER SECTION
3.PAGETITLE SECTION
4.HERO SECTION
5.INSIGHT AND STORE
6.PORTFOLIO
7.FOOTER
8.OTHERS
/*-----------------------------------------
 !!!!!!!!!!!!1.GENERAL SECTION!!!!!!!!!!!!!!!
 ------------------------------------------*/
body {
	font-size: 17px;
	text-align: justify;
	font-family: 'Open Sans', sans-serif;
}
nav li {
	display : inline;
}
nav {
	float : left;
	width: 80%;
	padding-top: 8px;
}
a{
	text-decoration: none;
	color: black;
	font-family: cursive sans-serif;
	font-size: 18px;
}


/*-----------------------------------------
##########End of General Section###########
-------------------------------------------*/

/*-----------------------------------------
 !!!!!!!!!!!!2.HEADER SECTION!!!!!!!!!!!!!!!
 ------------------------------------------*/
header{
	height :80px;
	width: 100%;
}

header h1{
	width : 20%;
	float :left;
	font-size: 40px;
}

.navmargin {
	margin-left: 500px;
}

/*-----------------------------------------
##########End of Header ###################
-------------------------------------------*/

/*-----------------------------------------
!!!!!!!!!!!!3.PAGE TITLE SECTION!!!!!!!!!!!!!!!
------------------------------------------*/


#pagetitle{
	height : 120px;
	background-color: rgb(241, 241, 241);
	width:100%;
	text-align: center;

}
#pagetitle,h1 {
	color: b6b6b4;
}


#pagetitle h2{
	padding-top: 28px;
	margin-bottom: 0px;
}
#pagetitle p {
	margin-left: 150px;
}
/*-----------------------------------------
##########End of Page Title################
-------------------------------------------*/

/*-----------------------------------------
!!!!!!!!!!!!4.HERO SECTION!!!!!!!!!!!!!!!
------------------------------------------*/

.hero{

	background-color:rgb(241, 241, 241);
}

.heroimage{
	background: url("../img/hero2.jpg") no-repeat;
	height: 580px;
	width: 960px;
	margin-left: 194.5px;
	opacity: 0.8
}

.heroimage h3 {
	color: white;
	font-family: cursive;
	margin-left: 5px;
	margin-bottom: 10px;
}

.hero h3 {
	margin-bottom: 10px;
}

.first{
	margin-left: 0px;
}
.last{
	margin-right: 0px;
	width: 320px !important;
}

/*-----------------------------------------
#############End of Hero####################
-------------------------------------------*/


/*-----------------------------------------
!!!!!!!!5.INSIGHTS AND STORE SECTION!!!!!!!!
------------------------------------------*/

.insights{
	margin-top: 20px;
}
.insights img,.insights h2,.insights p{
	float: left;
}

.continue{
	margin-left: 0px;
}

.insights img {
	height: 450px;
}
/*-----------------------------------------
#############End of Insights################
-------------------------------------------*/

/*-----------------------------------------
!!!!!!!!!!!!6.PORTFOLIO SECTION!!!!!!!!!!!!!
------------------------------------------*/
.portfolio .grid_4{
	padding-bottom: 5px;
}

.portfolio img{
height: 350px;
}

.portfolio1 img{
height: 275px;
}

.portfolio img ,.portfolio1 img{
	 border-radius: 10px;
	 border: 1px solid black;
 }

/*-----------------------------------------
#############End of Portfolio###############
 ------------------------------------------*/

/*-----------------------------------------
  !!!!!!!!!!!!7.FOOTER SECTION!!!!!!!!!!!!!!!
------------------------------------------*/

 footer{
 	height :175px;
 	background-color: c0c0c0;
 	text-decoration: none;
 	margin-top: 50px;
 }

 footer li{
 	list-style: none;
 }

 .section1 {
 	padding-top: 40px;
 	float: left;
 	padding-left: 194.5px;
 }

 .section2,.section3{
 	padding-top: 40px;
 	float: left;
 	padding-left: 175px;
 }
 footer a,footer li{
 	font-size: 15px;
 }
 .map img{
 	float: left;
 	padding-top: 40px;
 	padding-left:100px;
 	widows:  100px;
 	height : 100px;
 }
 /*-----------------------------------------
 ##########End of Footer ###################
 -------------------------------------------*/

 /*-----------------------------------------
 !!!!!!!!!!!!!!!8.OTHERS!!!!!!!!!!!!!!!!!!!!!
 ------------------------------------------*/
 .top-margin{
 margin-top: 40px;
 }

 .padding2 {
 	padding-top: 200px;
 }

 .padding{
 	padding-left: 5px;
 }

 h2,h4,h3{
 	color: black;
 }

 .grid_4 img{
 	width : 90%;
 }
 .wrap .grid_4 h4{
 	padding-top: 20px;
 }
 .grid_4 h4{
 	margin-bottom: 0px;
 }

 /*-----------------------------------------
 #############End of Others####################
 -------------------------------------------*/


 /*-----------End of Style CSS--------------*/
